include fract4d/c/*.h
include maps/*.map
include fract4d/*.frm 
include fract4d/*.cfrm
include doc/gnofract4d-manual/C/*.xml
include doc/gnofract4d-manual/C/figures/*.png
include fract4d/*.xml
include pixmaps/*.png
include gnofract4d.desktop
include COPYING
include AUTHORS
include gnofract4d
include gui/test_gtk.py
