include fract4d/c/*.h
include maps/*.map
include formulas/gf4d.frm
include formulas/gf4d.cfrm
include doc/gnofract4d-manual/C/*.xml
include doc/gnofract4d-manual/C/figures/*.png
include pixmaps/*.png
include gnofract4d.desktop
include COPYING
include gnofract4d
include testdata/*.fct
