include fract4d/c/*.h
include maps/*.map
include maps/*.cs
include formulas/gf4d.frm
include formulas/gf4d.cfrm
include formulas/fractint-g4.frm
include formulas/fractint-builtin.frm
include formulas/fractint.cfrm
include formulas/standard.ucl
include formulas/tutorial.frm
include doc/gnofract4d-manual/C/*.xml
include doc/gnofract4d-manual/C/figures/*.png
include pixmaps/*.png
include gnofract4d.desktop
include gnofract4d-mime.xml
include COPYING
include gnofract4d
include test.py
include createdocs.py
include fract4d/test.frm
include fract4d/test_bad_pp.frm
include fract4d/test.cfrm
include testdata/test.fct
include testdata/test_bail.fct
include testdata/elfglow.fct
include testdata/julfn.fct
include testdata/collapsar.fct
include testdata/gradient_func.fct
include testdata/chainsoflight.fct
include testdata/tumor.fct
include testdata/test.cs

